h3 {
	color:white;
}

body {
  font-family: 'Lato', sans-serif;
  background-color:#ffffe6;
  text-align: center;
}

.column1 {
  flex-grow: 1
}

.button-vowel{
    background-color: blueviolet;
}

.button-consolant {
    background-color: green;
}

h1 {
  font-size: 50px;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin:0px auto;
  border-collapse: separate;
  border-spacing: 8px;
}

.grey-background {
	background-color:#616161;
}

.tile, td {
  border-collapse: separate;
  border-spacing: 8px;
  background-color:#99CCFF;
  /*border: 1px solid #CEC5AA;*/
  margin-right: 10px;
  height: 70px;
  min-width: 60px;
  text-align: center;
  transition: transform 1s;
  transform:rotateY(0deg);
  font-size: 40px;
}


@media (max-width: 760px) {
  .tile, td {
    height: 30px;
    min-width: 25px;
    font-size: 25px;
  }
  .column1 {
    margin-bottom:10px;
  }
}

